<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../dist/main.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    <title>Spellchecker</title>
</head>
<body>
<h1>Spell Checker</h1>
<div class="container">
<!--    <label for="file" class="custom-file-upload">-->
    <input id="file" type="file">
<!--    </label>-->

    <label for="word">Provide word:</label><input type="text" id="word">
    <ul id="propose-words"></ul>
</div>
</body>
</html>
